@model BookMan.Models.Book
@{
    ViewData["Title"] = Model.Name;
}
<div>
    <p class="h3">@Model.Name</p>
    <hr />
    <partial name="_Single" model="Model" />
</div>
<hr />
<div>    
    <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Back to List</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-danger">Delete</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-warning">Edit</a>
    <a asp-action="Read" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">Read</a>
</div>